.footer {
  padding: 25px 10px;
  margin: 10px;
  background: black;
  color: white;
  text-align: center;

  a {
    color: white;
  }
// heading 
&-heading {
  font-size: 24px;
  font-family: $sub-heading-font;
  padding: 10px;
}
  // social
  &-social {
    padding: 0 25px;
    span 
    {
      padding: 0 5px;

      a 
      {
        &:hover
        {
          color: darkgray;
        }
      }
    }
  }

  // desc
  &-motto {
    padding: 10px 25px;
    word-wrap: break-word;
      span {
        a {
          text-decoration: underline;
        }
      }
  }
}
