.main {
  &-left-sidebar {
    display: flex;
    flex-direction: column;
    position: sticky;
    left: 0;
    top: 0;
    background: white;
    height: 100vh;
    overflow-y: auto;


    // times
    &-close
    {
      display: none;
    }

    // profile
    &-profile {
      display: flex;
      padding: 25px 15px;
      border-bottom: 2px solid lightgray;

      img {
        height: 75px;
        width: 75px;
        border-radius: 50%;
      }

      // info
      &-info {
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        justify-content: start;
        margin-top: -25px;
        &-name {
          // display: inline;
          h3 {
            display: inline-block;
            font-size: 18px;
            padding: 0 3px;
          }
        }

        // icons
        &-icons {
          span {
            padding: 0 10px;
          }
        }
      }
    }

    // details
    &-details {
      padding: 0 15px;
      a
      {
        line-height: 30px;
        font-size: 18px;
        padding: 5px 0;
        display: block;
       
        span 
        {
          padding: 0 10px;
        }

        // hover
        &:hover
        {
          background: darkgray;
        }
      }
    }
  }
}
