.summary 
{
  // margin: 25px 0;
  padding: 10px;


  &-heading {
    font-size: 24px;
    font-family: $sub-heading-font;
    padding: 10px;
  }

  &-img 
  {
 
    img
    {
    height: 100vh;
    width: 99%;
      margin: auto;
    }
  }
}